
.code {
	background: white;
	border: 2px solid grey;
	padding: 5px;
	color: #660;
	font-size: 12px;
	text-decoration: none;
	white-space: pre;
}

.keyword {
	color: #008;
}

.string_value {
	color: #080;
}

.type {
	color: #606;
}

.simple_code {
	color: #660;
}

.name {
	color: black;
}
