
footer {
	position: relative;
	right: 0px;
	bottom: 0px;
	width: 100%;

	background: rgb(200, 200, 200);
	text-align: center;
	height: 50px;
	margin-top: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

@media screen and (max-width: 555px) {
	footer {
		font-size: 13px;
		height: 35px;
	}
}
