.header {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;

	width: 100%;
	padding-left: 100px;
	height: 50px;
	background: white;

	animation: header 1.5s ease forwards;

	box-shadow: 0 4px 6px -6px grey;
}
@keyframes header {
	from {
		transform: translate(0, -100%);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.header_content {
	width: calc(100% - 200px);
	height: 50px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.company_logo {
	height: 100%;
	width: auto;
}

.user_actions {
	height: 70%;
	width: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.notification {
	background: no-repeat url("../images/notification.svg");
	height: 70%;
	width: 70%;
	margin-right: 5px;
	cursor: pointer;
}
.notification:hover {
	background: no-repeat url("../images/notification_active.svg");
}

.menu_toggle {
	z-index: 2;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	height: 100%;
	width: auto;
}
.menu_toggle input {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 3;
	opacity: 0;
}

.menu_toggle_image {
	height: 100%;
	width: auto;
}

.menu_items {
	position: absolute;
	right: 50%;
	top: 50px;

	transform: translate(0, -200%);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	box-shadow: 0px 7px 12px 8px rgba(190, 190, 190, 0.5);
	
	width: 600%;
	background: white;
	padding: 15px;
	border-radius: 5px;
}

.user_info {
	color: grey;
	text-align: center;
	border-bottom: 2px solid rgb(200, 200, 200);
	margin-bottom: 5px;
	font-size: 15px;
}
.user_info h1 {
	color: black;
	font-size: 17px;
}

.menu_items a {
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	width: 100%;
	color: rgb(90, 90, 90);
	border-radius: 3px;
}

.menu_items a:hover {
	background: rgb(200, 200, 200);
	color: black;
}

.menu_toggle input:checked ~ .menu_items {
	opacity: 1;
	transform: none;
}

@media screen and (max-width: 555px) {
	.header {
		height: 30px;
	}
	.header_content {
		height: 30px;
	}
	.user_actions {
		width: 50px;
	}
}
