
main {
	background: rgb(223, 223, 223);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 70px;
	padding-bottom: 20px;
	
	height: 100%;

	display: grid;
	grid-template-rows: 40% 10% 14% 11% 13% 12%;
	grid-template-columns: 25% 25% 30% 20%;
	grid-gap: 0px;
}

.title {
	display: inline-flex;
	position: relative;
	overflow: hidden;
}
.title_img {
	width: 100%;
	height: auto;
	transition-duration: 5s;
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	-ms-transition: all 1s ease; 
	transition: all 1s ease;
	z-index: 1;
}
.content {
	position: absolute;
	background: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	overflow: auto;
	z-index: 0;
	padding: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
}

.bsa_title {
	grid-column: 1;
	grid-row: 1 / span 2;
}
.bsa_title:hover img {
	transform: translate(100%, 100%);
}

.qa_title {
	grid-column: 1;
	grid-row: 3 / 7;
}
.qa_title:hover img {
	transform: translateX(100%);
}

.js_wrapper {
	grid-column: 2;
	grid-row: 1 / span 4;
	background-color: transparent;
	display: inline-flex;
}
.js_title {
	display: inline-flex;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.js_wrapper:hover .js_title {
	transform: rotateY(180deg);
}
.js_title img {
	background: yellow;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}
.js_content {
	position: absolute;
	background: white;
	font-family: 'Quicksand', sans-serif;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	padding: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	z-index: 0;
	overflow: auto;
}

.java_title {
	grid-column: 2;
	grid-row: 5 / span 2;
}
.java_title img {
	background: red;
}
.java_title:hover img {
	transform: translateY(100%);
}

.php_wrapper {
	grid-column: 3 / span 2;
	grid-row: 1;
	background-color: transparent;
	display: inline-flex;
}
.php_title {
	display: inline-flex;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.php_wrapper:hover .php_title {
	transform: rotateX(180deg);
}
.php_title img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}
.php_content {
	position: absolute;
	background: white;
	font-family: 'Quicksand', sans-serif;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	padding: 10px;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	z-index: 0;
}

.net_title {
	grid-column: 3;
	grid-row: 2 / 7;
}
.net_title:hover img {
	transform: translateX(-100%);
}

.events_title {
	grid-column: 4;
	grid-row: 2 / span 2;
}
.events_title:hover img {
	transform: translateY(-100%);
}

.blog_title {
	grid-column: 4;
	grid-row: 4 / span 2;
}
.blog_title:hover img {
	transform: translate(-100%, -100%);
}

.contacts_title {
	grid-column: 4;
	grid-row: 6;
}
.contacts_title:hover > img {
	transform: translate(100%, -100%);
}
.contacts_content {
	position: absolute;
	background: white;
	width: 100%;
	height: 100%;
	z-index: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.contact_item {
	background: transparent;
	height: 80%;
	width: 30%;
	display: inline-flex;
	justify-content: center;
}
.contact_item img {
	background: transparent;
	height: 100%;
	width: auto;
}
.contact_item img:hover {
	background: rgb(200, 200, 200);
	border-radius: 3px;
}

@media screen and (max-width: 555px) {
	main {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media screen and (max-width: 630px) {
	.content {
		font-size: 12px;
	}
}
