
.messages {
	position: fixed;
	right: 20px;
	bottom: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	width: 250px;
	opacity: 0.95;
	z-index: 2;
}
.message_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	font-family: 'Quicksand', sans-serif;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	padding: 5px;
	font-size: 18px;
}
.message_content img {
	width: 15%;
	margin-right: 10px;
	margin-left: 10px;
}
.message_content h1 {
	font-weight: bold;
	font-size: 25px;
}
.error_message {
	background: rgb(255, 80, 80);
}
.warning_message {
	background: rgb(180, 180, 50);
}
.success_message {
	background: rgb(80, 255, 80);
}

@media screen and (max-width: 650px) {
	.message_content {
		font-size: 13px;
	}
	.message_content h1 {
		font-size: 17px;
	}
	.message_content img {
		width: 8%;
		margin-right: 5px;
		margin-left: 5px;
	}
}